// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-small: 0.8rem;
$font-size-large: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//font colors
$font-color-dark: rgb(55, 55, 55);
$font-color-white: #fff;

$dark-bg: #2b2b2b;

//app color scheme
$app-gray: #E7E8E9;
$app-orange: #E9483C;
$app-black: #0F0F0F;
$app-light-blue: #96D1FF;
$app-white: #FFFFFF;
$app-blue: #5C67B5;
$app-blue-primary: #4525F2;
$app-brown: #E89D74;


