* {
    margin: 0;
    padding: 0;
}

.vertical-divider {
    border-right: 1px dashed #333;
}

.booking-hover:hover {
    background-color: $app-gray;
}

.active-booking-item {
    background-color: $app-gray !important;
}

.active-booking-item-color {
    background-color: #3490dc82 !important;
}

.dark-mode-black {
    background-color: black !important;
}

.card-hover:hover {
    width: calc(100% * 1.01);
}
