/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 5vw; /* width - changes with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: $dark-bg; /* bg color*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content --px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
}
.sidenavRight {
    height: 100vh; /* 100% Full-height */
    width: 25vw; /* width - changes with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $app-white; /* bg color*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content --px from the top */
    // transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 30px 10px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: $app-light-blue;
    display: block;
    transition: 0.3s;
        span {
            animation: fadeIn 2s;
            -webkit-animation: fadeIn 2s;
        }

}

.hideText {
    span {
        display: none;
    }
}


.menu-active {
    background-color: $app-light-blue;
    width: 100%;
    height: 100px;
        i,span {
            color: $app-white;            
        }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: $app-light-blue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .8s;
    padding: 0px;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}