#sms-preview{
    background-image: url('/img/sms-png.png');
    background-repeat: no-repeat;
    background-size: contain;

    h4{
        margin-top: 140px;
        margin-left: -190px;
        margin-right: 0;
        color: red;
    }

    .template {
        margin-top: 170px;
        margin-left: 20px;
        margin-right: 0;
        width: 200px;
        height: 200px;

        h6 {
            font-weight: bold;
            font-size: 0.9rem;
            padding-top: 30px;
            padding-left: 10px;
        }
        
        p {
            font-weight: bold;
            font-size: 0.8rem;
            padding-top: 10px;
            padding-left: 10px;
        }
        
        span {
            font-weight: bold;
            font-size: 0.8rem;
            padding-left: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    #sms-preview{
        display: none;
    }
}