.link-active {
    color: rgb(50, 133, 169);
    border-color: rgb(50, 133, 169);
    cursor: default;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #ecf0f1;
    border-radius: 50%;
    color: white;
}

.product-link {
    color: black;
}

.product-link:hover {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.product-link-danger {
    color: rgb(218, 37, 37);
}

.product-link-danger:hover {
    text-decoration: none;
    list-style-type: none;
    color: rgb(218, 37, 37);
}

.h-100 {
    height: 100vh !important;
}


/* scroll animation */
.sticky {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
    
.sticky .blockquote {
    font-size: 2.3em;
    width: 30%;
    margin-top: 17%;
    position: absolute;
}
    
    .sticky .blockquote .span {
    width: 100%;
    background: red;
    display: block;
    height: 5px;
    margin-top: 20px;
    }

.blockimages {
    position: absolute;
}

.blockimages:nth-of-type(1) {
    width: 60%;
    right: -30%;
    /* top: 20%; */
} 
/* portait image */
.blockimages:nth-of-type(2) {
    width: 25%;
    right: 75%;
    top: 29%;
    margin-top: 27%;
}
.blockimages:nth-of-type(3) {
    width: 45%;
    right: 60%;
    top: 29%;
    margin-top: 15%;
}

.sticky {
background: white !important;
}

.percentage {
position: absolute;
bottom: 10px;
left: 10px;
}

#box {
width: 300px;
height: 300px;
position: absolute;
border: 5px solid lightgray;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
}

/* The animation code */
@keyframes fade {
    from {opacity: 0.5;}
    to {opacity: 1;}
  }
  
  /* The element to apply the animation to */
  #hero-image-removed {
    background-color: red;
    animation-name: fade;
    animation-duration: 1s;
  }

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
/* scroll animation */
/* .sticky {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
} */
    
.sticky .blockquote {
    font-size: 1.3em;
    width: 30%;
    margin-top: 17%;
    position: absolute;
}
    
    .sticky .blockquote .span {
    width: 100%;
    background: red;
    display: block;
    height: 5px;
    margin-top: 20px;
    }

.blockimages {
    position: absolute;
}

.blockimages:nth-of-type(1) {
    width: 60%;
    right: -30%;
    /* top: 20%; */
} 
/* portait image */
.blockimages:nth-of-type(2) {
    width: 25%;
    right: 75%;
    top: 29%;
    margin-top: 27%;
}
.blockimages:nth-of-type(3) {
    width: 45%;
    right: 60%;
    top: 29%;
    margin-top: 15%;
}

.sticky {
background: white !important;
}

.percentage {
position: absolute;
bottom: 10px;
left: 10px;
}

#box {
width: 150px;
height: 150px;
position: absolute;
border: 5px solid lightgray;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #hero-image {
        margin-left: 48px;
    }
}